{% extends 'index.html' %}
{% block title %}
  {{ item.title }}
{% endblock %}
{% block page %}
  {% load thumbnail %}

    <div>
      <a href="{% url 'article_list' %}">Главная</a>
      <h1>Aвтор {{object.user_id}}</h1>
      <h2>{{ object.title }}</h2>
        {% if object.img %}
          {% thumbnail object.img "100x200" crop="center" as im %}
            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
          {% endthumbnail %}
        {% endif %}
      <div>{{ object.body }}</div>

      {% if request.user.is_authenticated and request.user.is_staff %}
        {% if comment %}
            <div>
            <p>Коментарии:</p>
            {% for i in comment %}
              <div>
                <p><b>{{i.user}}: </b></p>
                {{ i.contentx}}<br />
                {{i.date}}<br />
              </div>
            {% endfor %}
          </div>

          {% else %}
            <div>
              <p>Нет коментариев</p>
            </div>
          {% endif%}
        {% include 'blog/comment_form.html' with form=comment_add %}
        <div>
          <p><a href="{% url 'article_edit' object.id %}">Редактировать</a></p>
          <p><a href="{% url 'article_delete' object.id%}">Удалить</a></p>
        </div>
      {% endif %}
    </div>
{% endblock %}
<!-- test_blogs/blog/templates/comment_form.html -->
